.title {
  height: 200px;
  width: 30%;
  position: absolute;
  top: 14%;
  left: 62%;
  transform: translate(-50%, -50%);
}

.info_1 {
  height: 200px;
  width: 30%;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: yellowgreen; */
  border: 2px solid #444444;
  border-collapse: collapse;
}

.info_2 {
  height: 200px;
  width: 30%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: yellowgreen; */
  border: 2px solid #444444;
  border-collapse: collapse;
}
.info_3 {
  height: 200px;
  width: 30%;
  position: absolute;
  top: 102%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: yellowgreen; */
  border: 2px solid #444444;
  border-collapse: collapse;
}
th,
td {
  border: 2px solid #444444;
  padding: 20px;
}
.btn {
  height: 200px;
  width: 30%;
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: yellowgreen; */
}
