front/dbang/register.html

#aa-menu-area .main-navbar .navbar-nav li a {
  color: #000000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}