  table {
        width: 100px;
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #444444;
        padding: 10px;
      }
      .btn_login {
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        background-color: #ffffff;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #666666;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
      }
      .btn_login:hover {
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        background-color: #f6f6f6;
      }
      .btn_login:active {
        position: relative;
        top: 1px;
      }
      .btn_register {
        box-shadow: inset 0px 1px 0px 0px #bee2f9;
        background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
        background-color: #63b8ee;
        border-radius: 6px;
        border: 1px solid #3866a3;
        display: inline-block;
        cursor: pointer;
        color: #14396a;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #7cacde;
      }
      .btn_register:hover {
        background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
        background-color: #468ccf;
      }
      .btn_register:active {
        position: relative;
        top: 1px;
      }
      .btn_roomregister {
        box-shadow: inset 0px 0px 15px 3px #23395e;
        background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
        background-color: #2e466e;
        border-radius: 17px;
        border: 1px solid #1f2f47;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 6px 13px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #263666;
      }
      .btn_roomregister:hover {
        background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
        background-color: #415989;
      }
      .btn_roomregister:active {
        position: relative;
        top: 1px;
      }
      .loginId {
        border-top-left-radius: 3px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 10px;
      }